<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39926124986-lbg9k205800m4jn58t56d3vc7kervj7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39926124986-lbg9k205800m4jn58t56d3vc7kervj7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDCrctfK2GrJrR-yioGOaSk56eXGWnn-tw</string>
	<key>GCM_SENDER_ID</key>
	<string>39926124986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sunshine</string>
	<key>PROJECT_ID</key>
	<string>sunshine-ac4d3</string>
	<key>STORAGE_BUCKET</key>
	<string>sunshine-ac4d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39926124986:ios:edb6f90b652248466c4d83</string>
</dict>
</plist>